:root{
    --primaryColor: #E4E4EE;
    --secondaryColor: #B2B3B5;
}

.header-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2.1em;
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 7.8em;
}

.header-sup {
    background-color: var(--primaryColor);
    display: inline-block;
    min-height: 1px;
    height: 2.3em;
    width: 100%;
}

.header-sub {
    background-color: var(--secondaryColor);
    display: inline-block;
    min-height: 1px;
    height: 3.5em;
    width: 100%;
}

nav {
    background-color: var(--primaryColor);
}

.lista-nav {
    list-style: none;
    display: flex;
    height: 15em;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0 4dvh;
}

.lista-nav li:first-child{
    margin-left: 4em;
}

.icone{
    width: 10.5em;
    height: 10.5em;
    background-image: url("../assets/image/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 4em;
}

.nav-title {
    text-decoration: none;
    color: #0D0E0E;
    width: 10em;
    font-size: 3.6em;
    text-align: center;
    font-weight: 600;
}